body {
  margin: 0;
  background: linear-gradient(135deg, #ffc3a0, #ffafbd);
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  text-align: center;
  color: #fff;
}

h1 {
  font-size: 2.5rem;
}

p {
  font-size: 1.2rem;
}
